{{ define "main" -}}
<h1 class="title">{{ .Title }}</h1>
<ul class="entries">
    {{ range .Pages.GroupByDate "2006" }}
        <h3 style="text-align: center;">{{ .Key }}</h3>
        {{ range .Pages }}
            <li>
                <span class="title">
                    {{ if isset .Params "affiliatelink" }}
                        <a href="{{ .Params.affiliatelink }}" target="_blank" rel="noopener">{{ .Title }} &#8599;</a><span></span>
                    {{ else }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </span>
                <span class="published">
                    <time class="pull-right post-list">{{ .Date | time.Format ":date_long" }}</time>
                </span>
            </li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
